<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Avira Cams</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<!-- <link href="{% static 'css/animate.css' %}" rel="stylesheet"> -->
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="{% static 'js/html5shiv.js' %}"></script>
	    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->       
   </head><!--/head-->

   <script type="text/javascript">
    default_cam = "{{ default_cam }}";
   </script>
<body>

	<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">

					</div>
				</div>
		        <div class="row">	        		


		        </div>
	        </div>
        </div>                    
    </header>
    <!--/#header--> 




	
	<section id="avira">
		<div id="avira-cams" class="carousel slide" data-interval="false">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">

					<div class="text-center carousel-inner center-block">
						<div class="item active" style="">
                            <div class="col-sm-9">
						<div id="contact-section">
                            {% csrf_token %}
                            <h1> Avira Look-Out</h1>
							<h3>Choose a camera</h3>


					            <div class="form-group">
					                <select id="cam" name="cam" class="form-control" required="required" placeholder="Camera">
                                        <option value="webcam1">Camera 1</option>
                                        <option value="webcam2">Camera 2</option>
                                    </select>

					            </div>

					            <div class="form-group" style="text-align:center">
					                <button type="submit" id="submit_bt" class="btn btn-primary pull-right">Submit</button>
					            </div>
                                <p id="msg" style="display:none"> Please Wait...</p>
					    </div>
					</div>
						</div>

					</div>

                </div>

                <div class="col-sm-4">

					<div class="text-center carousel-inner center-block">
						<div class="item active" style="color: rgb(77, 52, 9);">

                            <div id="cam-image"> <img id="image" src=""> </div>
						</div>

					</div>

                </div>
			</div>
		</div>		
	</section>
	


    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
